<section class="header">
  <div class="container header__container">
    <!-- Logo -->
    <a href="/src/index.html" class="logo">
      <svg class="logo__icon" width="199" height="50">
        <use href="/src/images/svg/icons.svg#logo"></use>
      </svg>
    </a>

    <!-- Menu burger button -->
    <button
      type="button"
      class="button menu__button menu__button--burger"
      data-menu-open
    >
      <svg class="menu__icon menu__icon--burger" width="20" height="12">
        <use href="/src/images/svg/icons.svg#burger"></use>
      </svg>
    </button>

    <!-- Nav thumb -->
    <div class="thumb" data-thumb>
      <!-- Nav envelope -->
      <div class="envelope">
        <!-- Menu close button -->
        <button
          type="button"
          class="button menu__button menu__button--close"
          data-menu-close
        >
          <svg class="menu__icon menu__icon--close" width="14">
            <use href="/src/images/svg/icons.svg#close"></use>
          </svg>
        </button>

        <!-- Modal button -->
        <button type="button" class="button modal__button">
          <div class="modal__thumb">
            <span class="modal__env">Buy now</span>
            <svg class="modal__arrow" width="5.28" height="8">
              <use href="/src/images/svg/icons.svg#arrow-right"></use>
            </svg>
          </div>
        </button>

        <!-- Nav -->
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
            <li class="nav__item">
              <a href="#" class="nav__link">About us</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">How it's made?</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Our products</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
