.header {
  &__container {
    outline: 1px solid blue;
    display: flex;
    align-items: center;
  }
}
.container {
}
.logo {
  &__icon {
  }
}
.animate {
  &__animated {
  }

  &__bounce {
  }
}
.nav {
  &__thumb {
    outline: 1px solid tomato;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  &__button {
    margin: 0;
    padding: 0;
    z-index: 200;
  }
  &__list {
    @extend %list;
  }
}
.modal {
  &__button {
  }

  &__title {
  }

  &__env {
  }

  &__arrow {
  }
}
