.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: $color-milkshakes;
  &__container {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: $color-secondary-light;
    @include mq(tablet) {
      padding-top: 32px;
    }
    @include mq(desktop) {
      padding-top: 37px;
    }
  }
}

.logo {
  width: 199px;
  height: 50px;
  &__icon {
    color: $color-accent;
    fill: currentColor;
  }
}
.thumb {
  //   opacity: 0;
  //   width: 100%;
  //   height: 100%;
  @include mq(tablet) {
    display: flex;
    width: 100%;
  }
  &.is-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    //     opacity: 1;
    //     pointer-events: initial;
  }
}

$menu-width-mob: 250px;
$menu-width-tbl: 254px;

.env {
  .thumb.is-open & {
    position: absolute;
    top: 0;
    right: -$menu-width-mob;
    transition-property: transform;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-animation;
    transform: translateX(-100%);
    display: block;
    width: $menu-width-mob;
    height: 100vh;
    background: $color-secondary-darker;
    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
    @include mq(tablet) {
      right: -$menu-width-tbl;
      width: $menu-width-tbl;
    }
  }
  @include mq(tablet) {
    display: flex;
    align-items: center;
    width: 100%;
  }
  @include mq(desktop) {
    flex-direction: row-reverse;
  }
}

.menu {
  &__button {
    width: 20px;
    height: 12px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    &.is-open {
      width: 14px;
      height: 14px;
      margin-left: auto;
      margin-top: 20px;
      margin-bottom: 26px;
      margin-right: 20px;
    }
    @include mq(tablet) {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
    @include mq(desktop) {
      display: none;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__icon--burger {
    color: $color-accent;
    fill: currentColor;
    .menu__button.is-open & {
      display: none;
    }
  }

  &__icon--close {
    display: none;
    color: $bg-body;
    fill: currentColor;
    transition-property: fill;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-animation;
    .menu__icon:hover &,
    .menu__icon:focus & {
      fill: $color-accent;
    }
    .menu__button.is-open & {
      display: block;
    }
  }
}

.modal {
  &__button {
    display: none;
    width: 209px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 19px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;

    justify-content: center;
    align-items: center;
    text-align: center;

    color: $color-accent;

    background: $bg-body;
    border-radius: 22px;
    border: none;

    transition-property: color, background-color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-animation;

    &:hover,
    &:focus {
      background-color: $color-accent;
      color: $color-text-lighter;
    }

    @include mq(tablet) {
      display: flex;
      margin: 0 0 0 32px;
      width: 160px;
      .thumb.is-open & {
        width: 186px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
      }
    }
    @include mq(desktop) {
      margin: 0;
      margin-left: auto;
    }

    .thumb.is-open & {
      display: flex;
    }
  }

  &__env {
    margin-right: 16px;
  }

  &__arrow {
    color: $color-accent;
    fill: currentColor;
    transition-property: fill;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-animation;
    .modal__button:hover &,
    .modal__button:focus & {
      fill: $color-text-lighter;
    }
  }
}

.nav {
  width: 100%;
  display: none;
  @include mq(desktop) {
    display: flex;
  }
  .thumb.is-open & {
    display: block;
  }
  &__list {
    @extend %list;
    @include mq(desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    height: 42px;
    border-top: 1px solid $color-border-secondary;
    &:last-child {
      border-bottom: 1px solid $color-border-secondary;
    }
    @include mq(desktop) {
      margin: 0;
      padding: 0;
      border-top: none;
      &:last-child {
        border-bottom: none;
      }
      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }

  &__link {
    margin-left: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: $color-text-lighter;
    transition-property: color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-animation;

    &:hover,
    &:focus {
      color: $color-accent;
    }
    @include mq(desktop) {
      margin: 0;
      padding: 0;
      height: 100%;
    }
  }
}
